<div id="chat" *ngIf="chatClosed == false">
  <div class="heading">
    <h5 class="pull-left">Chat</h5><h5 class="pull-right" (click)="chatClosed = true">X</h5>
  </div>
  <div class="body">
    <div class="users">
      <h5 class="text-center">
        Aktive Nutzer
      </h5>
      <br>
      <ul class="usersList">
        <span *ngFor="let userOnline of onlineUsers">
          <li *ngIf="userOnline.$key !== user.$key">
            <a (click)="chatPartner = userOnline">{{userOnline.vorname}} {{userOnline.name}}</a>
          </li>
        </span>
      </ul>
    </div>
    <div class="chatPartnerDiv">
      <app-chat-detail *ngIf="chatPartner !== null" [chatPartner]="chatPartner"></app-chat-detail>
      <h4 class="noPartner" *ngIf="chatPartner == null">Wähle einen Nutzer aus, und starte einen Chat</h4>
    </div>
  </div>
</div>



<div id="chatClosed" *ngIf="chatClosed == true" (click)="chatClosed = false">
Chat
</div>
