#chat {
  position: fixed;
  height:500px;
  width:500px;
  border:2px solid #18bc9c;
  bottom:0;
  right:50px;
  border-radius: 10px;
  z-index:99999;
}
#chatClosed {
  position: fixed;
  height:40px;
  width:300px;
  background-color:#18bc9c;
  bottom:0;
  right:50px;
  border-radius: 10px;
  padding:20px;
  padding-top:5px;
  cursor:pointer;
}
.heading {
  background-color:#18bc9c;
  padding:20px;
  padding-top:10px;
  float:left;
  width:100%;
  height:auto;
}
.users {
  float:left;
  height:100%;
  width:35%;
  background-color:#ececec;
}
.usersList {
  display:block;
  height:100%;
}
.usersList li {
  float:left;
}
.usersList li:hover {
  background-color:#18bc9c;
  cursor:pointer;
}
.usersList li a:hover {
  color:black;
}
.chatPartnerDiv {
  float:right;
  width:65%;
}
.body {
  height:100%;
  background-color:white;
}
