<div class="container">
  <div class="col-md-6 col-md-offset-3 jumbotron">
    <h2 class="text-center">Neuen Account erstellen</h2>
    <form (ngSubmit)="registerAccount(fRegister.value)" #fRegister="ngForm">
      <input type="text" class="form-control" name="vorname" placeholder="Vorname" ngModel><br>
      <div *ngIf="vorname" class="alert alert-danger" id="alertVorname">
        Bitte gib einen Vornamen ein.
      </div>
      <input type="text" class="form-control" name="name" placeholder="Name" ngModel><br>
      <div *ngIf="name" class="alert alert-danger" id="alertName">
        Bitte gib einen Namen ein.
      </div>
      <input type="text" class="form-control" name="email" placeholder="E-Mail" ngModel><br>
      <div *ngIf="email" class="alert alert-danger" id="alertEmail">
        Bitte gib eine E-Mail-Adresse ein.
      </div>
      <div *ngIf="email3" class="alert alert-danger">
        E-Mail-Adressen stimmen nicht überein.
      </div>
      <input type="text" class="form-control" name="email2" placeholder="E-Mail wiederholen" ngModel><br>
      <div *ngIf="email2" class="alert alert-danger" id="alertEmail2">
        Bitte bestätige deine E-Mail-Adresse.
      </div>
      <div *ngIf="email3" class="alert alert-danger alertEmail">
        E-Mail-Adressen stimmen nicht überein.
      </div>
      <input type="password" class="form-control" name="password" placeholder="Passwort" ngModel><br>
      <div *ngIf="password4" class="alert alert-danger" id="alertPassword">
        Bitte gib ein gültiges Passwort ein (mind. 6 Zeichen lang).
      </div>
      <div *ngIf="password3" class="alert alert-danger alertPassword">
        Passwörter stimmen nicht überein.
      </div>
      <input type="password" class="form-control" name="password2" placeholder="Passwort wiederholen" ngModel><br>
      <div *ngIf="password2" class="alert alert-danger" id="alertPassword2">
        Bitte bestätige dein Passwort.
      </div>
      <div *ngIf="password3" class="alert alert-danger alertPassword">
        Passwörter stimmen nicht überein.
      </div>
      <button type="submit" name="emailsubmit" class="btn btn-primary">Registrieren</button>
    </form>
    <hr>
    <h4 class="text-center">Du Hast bereits einen Account?</h4>
    <button routerLink="/login" class="btn btn-default">zum Login</button>
  </div>
</div>
