.items {
  min-width:300px;
  margin-left: 25px;
  margin-right:25px;
  max-height:200px;
  min-height:200px;
  overflow-y: hidden;
  text-align: center;
  cursor:pointer;
  z-index:9999;
}
.jumbotron {
  padding-top:10px;
}
h3 {
  margin-bottom:50px;
}
.controls {
  z-index:100;
}
