<!-- Neue Beiträge section -->
<div class="jumbotron">
  <h3 class="text-center">Neue Beiträge</h3>
  <div id="subscribedThreads">
    <div ng2-carouselamos class="slideswrapper"
      [items]="recentThreads"
      [width]="800"
      [$prev]="prev"
      [$next]="next"
      [$item]="item">
    </div>

    <ng-template #prev>
      <img src="assets/img/left-arrow.png" id="left"/>
    </ng-template>
    <ng-template #next>
      <img src="assets/img/right-arrow.png" id="right" />
    </ng-template>

    <ng-template #item let-item let-i="index">
      <div [routerLink]="['/forum/'+item.$key]" style="cursor:pointer;z-index:99999;">
        <h2 *ngIf="isempty == true">Keine neuen Threads vorhanden</h2>
        <div class="items panel panel-primary">
            <div class="panel-heading">
              {{item.title}}
            </div>
            <div class="panel-body">
              <em>{{item.text}}
              </em><br>
            </div>
          </div>
      </div>
    </ng-template>

  </div>
</div>
<!-- End of neue beiträge section -->

<!-- Start new comments section -->
<div class="jumbotron">
  <h3 class="text-center">Neue Kommentare</h3>
  <div id="subscribedThreads">
    <div ng2-carouselamos class="slideswrapper"
      [items]="recentComments"
      [width]="800"
      [$prev]="prev"
      [$next]="next"
      [$item]="comments">
    </div>

    <ng-template #prev>
      <img src="assets/img/left-arrow.png" id="left"/>
    </ng-template>
    <ng-template #next>
      <img src="assets/img/right-arrow.png" id="right" />
    </ng-template>

    <ng-template #comments let-item let-i="index">
      <div [routerLink]="['/forum/'+item.threadID]" style="cursor:pointer;z-index:99999;">
        <h2 *ngIf="isempty == true">Keine neuen Kommentare vorhanden</h2>
        <div class="items panel panel-primary">
            <div class="panel-heading">
              {{item.threadTitle}}
            </div>
            <div class="panel-body">
              <em>{{item.text}}
              </em><br>
            </div>
          </div>
      </div>
    </ng-template>

  </div>
</div>
<!-- End new Comments section -->

<!-- Start Subbed threads section -->
<div class="jumbotron" *ngIf="subscriptions">
  <h3 class="text-center">Deine abonnierten Beiträge</h3>
  <div id="subscribedThreads">
    <div ng2-carouselamos class="slideswrapper"
      [items]="allThreads"
      [width]="800"
      [$prev]="prev"
      [$next]="next"
      [$item]="subSection">
    </div>

    <ng-template #prev>
      <img src="assets/img/left-arrow.png" id="left"/>
    </ng-template>
    <ng-template #next>
      <img src="assets/img/right-arrow.png" id="right" />
    </ng-template>

    <ng-template #subSection let-item let-i="index">
      <div *ngFor="let sub of subscriptions">
        <div *ngIf="item.$key == sub.$key" class="items panel panel-primary">
          <div class="panel-heading">
            {{item.title}} <em>von {{item.fromName}}</em>
          </div>
          <div class="panel-body" *ngIf="item.mostRecent">
            <em>{{item.mostRecent.text}}
            </em><br>
          </div>
          <div class="panel-body" *ngIf="!item.mostRecent">
            <em style="font-size:15px;">{{item.text}}</em><br><br>
            <em>Geschrieben am: {{item.date}}</em>
          </div>
        </div>
      </div>
    </ng-template>

  </div>
</div>
<!-- End subbed threads section -->
