<div class="jumbotron">
  <h2 class="text-center">Forum</h2>
  <!-- Creat new Thread section-->
  <button *ngIf="newthreadbutton == false" class="btn btn-primary" (click)="newthreadbutton = true">Neuen Beitrag erstellen</button>
  <button *ngIf="newthreadbutton == true" class="btn btn-danger" (click)="newthreadbutton = false">Abbrechen</button>
  <br><br>
  <form *ngIf="newthreadbutton == true" #newThread="ngForm" (ngSubmit)="this.FirebaseService.addThread(newThread.value, newThread)">
    <input class="form-control pull-left" placeholder="Titel" ngModel name="title"/>
    <label for="sel1" class="pull-right">Wähle eine Kategorie</label>
    <select id="sel1" class="pull-right" name="category" ngModel>
      <option *ngFor="let thread of threads | unique">{{thread.category}}</option>
    </select><br>
    <textarea class="form-control" width="60%" placeholder="Text..." ngModel name="text"></textarea>
    <button type="submit" class="btn btn-primary">Beitrag erstellen</button><br><br>

  </form>
  <!-- End of create new Thread section -->
  <div *ngFor="let thread of threads" style="cursor:pointer;">
    <div class="panel panel-primary" [routerLink]="['/forum/'+thread.$key]">
      <div class="panel panel-heading" style="font-size:16px;">
        <h3 class="panel-title" style="float:left;">
          <strong>{{thread.title}}</strong>
          <em *ngIf="thread.category">({{thread.category}})</em>
        </h3>
        <span class="text-right pull-right">
          <em>von {{thread.fromName}} am {{thread.date}}</em>
        </span>
      </div>
      <div class="panel-body">
        {{thread.text}}
      </div>
    </div>
  </div>

</div>
