
<div class="jumbotron col-md-6 col-md-offset-3 text-center">
  <h3>Login</h3>
  <div>
    <form #loginForm="ngForm" (ngSubmit)="this.UserService.loginEmail(loginForm.value, loginForm)">
      <input class="form-control" type="text" name="email" placeholder="E-Mail-Adresse..." ngModel/><br>
      <input class="form-control" type="password" name="password" placeholder="Passwort..." ngModel/><br>
      <button type="submit" class="btn btn-primary">Anmelden</button>
    </form>
  </div>
  <hr>
  <button class="btn btn-danger" (click)="this.UserService.loginGoogle()">Login mit Google Account</button>
  <br>
  <hr>
  <button class="btn btn-default" [routerLink]="['/register']">Noch keinen Account?</button>
</div>
