<div class="jumbotron" *ngIf="thread">
  <h3>{{thread.title}}  {{thread.category}}</h3><button [routerLink]="['/forum']" class="btn btn-primary pull-right">Zurück zu allen Beträgen</button>
  <p><em>gepostet von {{thread.fromName}} am {{thread.date}}</em></p>
  <p>{{thread.text}}</p>
  <div *ngIf="subscription">
    <button *ngIf="subbed == true" (click)="this.UserService.unsubscribeThread(thread); this.subbed = false" class="btn btn-primary pull-right" style="margin-left:20px;">deabonnieren</button>
    <button *ngIf="subbed == false" (click)="this.UserService.subscribeThread(thread); this.subbed = true" class="btn btn-primary pull-right" style="margin-left:20px;">abonnieren</button>
  </div>
<button *ngIf="respondButton == false" class="btn btn-primary pull-right" (click)="respondButton = true">antworten</button>
<button *ngIf="respondButton == true" class="btn btn-danger pull-right" (click)="respondButton = false">abbrechen</button>
<form *ngIf="respondButton == true" #respondForm="ngForm" (ngSubmit)="this.FirebaseService.addComment(thread.$key, respondForm.value, respondForm, thread)">
  <input class="form-control" placeholder="Text..." name="text" ngModel/>
  <button type="submit" class="btn btn-primary pull-right">Antwort senden</button>
</form>
<br><br><br>

<!-- Show answers -->
<div class="container">
    <div *ngFor="let answer of answers">
      <div class="panel panel-default">
        <div class="panel panel-heading" style="font-size:16px;">
          <h5 class="panel-title" style="float:left;">
            {{answer.fromName}}
          </h5>
          <em class="text-right pull-right">{{answer.date}}</em>
        </div>
        <div class="panel-body">
          {{answer.text}}
        </div>
      </div>
    </div>
  </div>
</div>
