<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Forum-App</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><a [routerLink]="['/']">Home</a></li>
        <li *ngIf="(this.afAuth.authState | async)"><a [routerLink]="['/dashboard']">Dashboard</a></li>
        <li *ngIf="(this.afAuth.authState | async)"><a [routerLink]="['/forum']">Beiträge</a></li>
        <!--<li *ngIf="(this.afAuth.authState | async)"><a [routerLink]="['/profil']">Profil</a></li>-->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!(this.afAuth.authState | async)"><a [routerLink]="['/login']">Login</a></li>
        <li *ngIf="!(this.afAuth.authState | async)"><a [routerLink]="['/register']">Registrieren</a></li>
        <li *ngIf="(this.afAuth.authState | async)"><a (click)="this.UserService.logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<app-chat *ngIf="(this.afAuth.authState | async)"></app-chat>
