.sendMessageDiv {
  position:absolute;
  bottom:0;
  right:0;
  width:65%;
}
.sendMessageDiv button {
  width:30%;
}
.sendMessageDiv input {
  width:70%;
  float:left;
}
.chatHistory {
  float:right;
  width:98%;
  min-height:380px;
  max-height:380px;
  overflow-y: scroll;
}
li {
  list-style: none;

}
.recipient {
  min-width:51%;
  text-align: left;
  background-color:#18bc9c;
  border-radius:10px;
  margin-top:3px;
  margin-bottom:3px;
}
.sender {
  min-width:51%;
  text-align: right;
  background-color:#ececec;
  border-radius:10px;
  margin-top:3px;
  margin-bottom:3px;
}
.heading {
  position:absolute;
  width:90%;
  background-color:#ececec;
  left:0;
  font-size:16px;
}

@media (max-width:767px) {
  #chat {
    width:300px;
  }
}
