<div class="sendMessageDiv">

  <div class="chatHistory" id="chatHistory">
    <div class="heading">
      Chat mit {{chatPartner.vorname}} {{chatPartner.name}}
    </div>

    <div>
      <div *ngFor="let message of messages" style="margin-top:20px;">
          <div *ngIf="message.from == true">
            <div class="pull-right sender">
              {{message.message}}
            </div><br><em class="pull-right" style="font-size:11px;">{{message.date}}</em>
          </div>
          <div *ngIf="message.from == false">
            <div class="pull-left recipient">
              {{message.message}}
            </div><br><em class="pull-left" style="font-size:11px;">{{message.date}}</em>
          </div>
      </div>
    </div>
  </div>


  <form #chatMessage="ngForm" (ngSubmit)="this.ChatService.sendMessage(chatPartner.$key, chatMessage.value.message, chatMessage)">
  <input type="text" placeholder="Schreibe eine Nachricht..." ngModel name="message" class="form-control"/>
  <button type="submit" class="btn btn-success pull-right">senden</button>
  </form>
</div>
